* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --main-clr: #03a9f4;
  --dark-black: #2b2b2b;
  --light-black: #333;
  --box-pad: .5rem 1rem;
}

.hidden {
  display: none;
}

.warn {
  animation: warning .5s ease-in-out 0s forwards;
}

@keyframes warning {
  0% {
    top: -60px;
  }
  100% {
    top: 20px;
  }
}

h2.title {
  background: var(--main-clr);
  padding: var(--box-pad);
  text-transform: uppercase;
  letter-spacing: 2px;
}

body {
  min-height: 100vh;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-black);
  color: #fff;
  font-family: "trebuchet ms", Arial, Arial, Helvetica, sans-serif;
}

.container {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 1rem;
}

.container form {
  padding: 1rem;
  background-color: var(--dark-black);
  display: flex;
  justify-content: space-between;
  gap: .5rem;
}

.container form > * {
  padding: var(--box-pad);
  border: none;
  color: #fff;
  background: var(--light-black);
}

.container form input {
  flex: 1;
  transition: .3s ease;
  border-bottom: 2px solid transparent;
}

.container form input:focus {
  border-bottom-color: var(--main-clr);
}

.container form input:focus {
  outline: none;
}

.container form input.wrong-anim {
  animation: wrong-anim .5s linear 0s 2 forwards;
  border-bottom-color: red;
}

@keyframes wrong-anim {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) } 
}

.container form button {
  letter-spacing: 1px;
  cursor: pointer;
  transition: .3s ease;
}

.container form button:hover {
  background-color: var(--main-clr);
}

.container .result-box > * {
  padding: 1rem;
  background-color: var(--dark-black);
}

.result-box .user-info {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.result-box .user-info .info-container {
  display: flex;
  gap: 1rem;
}

@media (max-width:768px) {
  .result-box .user-info .info-container {
    flex-direction: column;
    align-items: center;
  }
}

.result-box .user-info .info-container img.avatar {
  width: 200px;
}

.result-box .user-info .text-box {
  gap: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

.result-box .user-info .info-container .name {
  font-size: 2.2rem;
}

.result-box .user-info .info-container .name a {
  color: inherit;
}

.result-box .user-info .info-container .name a:hover {
  opacity: .8;
}

.result-box .user-info .stats {
  flex: 1;
  display: flex;
  gap: 1rem;
}

.result-box .user-info .stats > * {
  padding: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-black);
  text-transform: capitalize;
}

.result-box .user-info .stats > * > span {
  font-size: 3rem
}

.result-box .projects-info .projects {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: .5rem;
}

.projects .item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  background: var(--light-black);
}

.projects .item div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects .item div .name {
  font-size: 1.6rem;
  word-break: break-all;
}

.projects .item a {
  padding: .5rem 1rem;
  letter-spacing: 2px;
  color: #2d2d2d;
  background-color: #fff;
  border: 2px solid #2d2d2d;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  transition: all .3s ease;
  transition-property: color,border-color,background-color;
}

.projects .item a:hover {
  color: #fff;
  border-color: #fff;
  background-color: #2d2d2d;
}